

.navigation-container{
    background-color: whitesmoke;
}

.login-out{
    color: white;
    background-image: linear-gradient(to right, rgb(39, 119, 39), rgb(95, 204, 95));
    text-decoration: none;
    font-size: 18px;
    padding: 3px 15px;
    border-radius: 2px;
    border: none;
}