

.payment-title{
    color: rgb(8, 8, 53);
    font-weight: 700;
    border-bottom: 1px solid gray;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
}

.address-payment{
    margin-top: 70px;
    display: flex;
    padding: 40px 20px;
    box-shadow: 5px 5px 15px 15px rgb(209, 209, 209);
}

@media only screen and (max-width: 800px) {
    .single-product-detail{
        display: flex;
        flex-direction: column;
    }
    .address-payment{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .form-control{
        width: 300px;
    }
    .payment-info{
        width: 310px;
        background-color: rgb(248, 241, 213);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -15px;
        margin-top: 20px;
    }
  }
@media only screen and (min-width: 860px) {
    .single-product-detail{
        display: flex;
    }
    .payment-info{
        width: 50%;
        background-color: cornsilk;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 35px;
        padding-right: 35px;
    } 
  }