

.dash-link{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    line-height: 40px;
}

.logout{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, tomato, orange);
    font-weight: 500;
    padding: 8px 25px;
    border-radius: 2px;
    box-shadow: 3px 3px 5px 3px black;
}
.logout:hover{color:white;}